*.iml
.gradle
.kotlin
/local.properties
local.properties
.env
.env.*
!.env.example
debug.keystore
*.keystore
*.jks
.DS_Store
/build
build/
app/build/
.idea/
.vscode/
.antigravity/
captures/
.externalNativeBuild
.cxx
